body{
    background-color: var(--cor2);
    min-width: 80px;
    
}

.title {
    text-align: center;
    display: flex;
    font-size: 30px;
    color: var(--cor1);
}

.graficos{
    display: flex;
    margin-top: 20px;
    margin-left: 5.5%;
    margin-right: 10%;
}

.footer {
    width: auto;
    height: 60px;
    background-color: var(--cor3);
    border-radius: 10px;
    grid-area: "footer";
    grid-column: footer;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
}

@media (max-width: 820px) {
    .graficos{
        display: block;
        text-align: center;
        margin-top: 19px;
        margin-left: 13%;
        margin-right: 20%;
        }    
    }

@media screen and (max-width: 500px) {
    .graficos {
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-left: -13%;
        margin-right: 20%;  
    } 
    .chart_div{
        width: 100%;
    }
}