*{
    border: none;
}

body{
    background-color: var(--cor2);
    font-family: var(--font-destaque01);
}

.title{
    text-align: center;
    display: flex;
    font-size: 30px;
    color: var(--cor1);
}

h1{
    font-family: var(--font-destaque);
    font-size: 3em;
    color: var(--cor5);
    margin-bottom: 7px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;  
    border: 10px;
}

article{
    border: 2px solid var(--cor5);
    background-color: white;
    padding: 10px;  
    border-radius: 10px;
    margin-bottom: 25px;
}

p{
    padding: 10px;
}

p, label{
    font-size: 1em;
    font-family: var(--font-destaque); 
}

.title{
    font-family: var(--font-destaque01);
}

label{
    display: inline-block;
    font-size: 1em; 
    text-indent: 15px;
}

input{
    border-bottom: 1px solid #0D0D0D;
}

input:focus{
    outline: none;
}

span{
    font-family: var(--font-destaque);
}
.textfield{
    border-radius: 5px;
    border: 2px solid var(--cor5);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    padding: 10px;
    margin: 5px;
}

.form, .endereco, .contato, .empresa {
    border: 2px solid var(--cor5);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    border-radius: 5px 0px 5px 0px;
    padding: 10px;
    margin: 5px;
}

#nome, #sobrenome, #email, #email2, #bairro, #profissao, #cidade, #estado{
    width: 85px; 
}

#empresa, #cargo{
    width: 150px;
    font-family: var(--font-destaque);
}
#n_casa{
    width: 30px;
}
select{
    color: black;
}
#estilo, #estilo2, #estilo7{
    border: 1px solid black;
    width: 90px; 
}

.estilo, .estilo2, .estilo7{
    padding-top: 2px;
}

#contato{
    width: 30px;
    font-family: var(--font-destaque);
}

#dd2, #contato, #contato3, #contato5, #contato6{
    width: 30px;
    color: black;
    font-family: var(--font-destaque);
}

#ddd, #ddd2{
    width: 17px;
    color: black;
    font-family: var(--font-destaque);
}

.estado, .escala{
    padding-top: 2px;
}

button{
    margin: 5px;
    padding: 5px;
    width: 75px;
    border: 2px solid var(--cor5);
    border-radius: 5px;
    font-family: var(--font-padrao);
    font-weight: bold;  
}

button:hover{
    background-color: var(--cor2);
    color: var(--cor1);
    font-weight: bold;  
}

/* COMEÇA O LAYOUT GRID */
.container-fornecedores {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px 20px 20px;
    font-family: var(--font-destaque01);
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-areas:
    "sidenav cadastro-fornecedores"
    "footer footer"
}

.sidenav {
    max-width: 100%;
    min-width: 350px;
    height: 100%;
    background-color: var(--cor3);
    border-radius: 10px;
    grid-area: "sidenav";
    grid-row: sidenav;
}

.cadastro-fornecedores {
    max-width: 100%;
    min-width: 350px;
    height: 100%;
    grid-area: "cadastro-fornecedores";
}

.footer {
    width: auto;
    height: 80px;
    background-color: var(--cor3);
    border-radius: 10px;
    grid-column: footer;
    text-align: center;
    font-weight: 600;
    padding-top: 1em;
    margin-bottom: 0px;
    grid-area: "footer";
    font-family: var(--font-destaque01);
}

.footer1{
    font-family: var(--font-destaque01);
}

/* media query */
@media (max-width: 820px) {
    .container-fornecedores {
        grid-template-areas:
        "sidenav"
        "cadastro-fornecedores"
        "footer"; 
    }
}

@media (max-width: 520px) {
    .container-fornecedores {
        grid-template-areas:
        "sidenav"
        "cadastro-fornecedores"
        "footer"; 
    }
    .textfield {
        padding: 5px;
    }
    .textfield label {
        font-size: 0.7em;
    }
}

