*{
    border: none;
}

body{
    background-color: var(--cor2);
}

.title{
    color: var(--cor1);
    font-size: 23px;
}

h1{
    font-family: var(--font-destaque);
    font-size: 3em;
    color: var(--cor5);
    margin-bottom: 7px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;  
    border: 10px;
}

article{
    border: 2px solid var(--cor5);
    background-color: white;
    padding: 10px;  
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
}

p{
    font-size: 1.3em;
    padding: 10px;
}

p, label{
    font-family: var(--font-destaque); 
}

label{
    display: inline-block;
    font-size: 1.1em; 
    text-indent: 15px;
}

input{
    border-bottom: 1px solid #0D0D0D;
}

input:focus{
    outline: none;
}

.textfield, .form, .endereco, .contato, .empresa {
    border: 2px solid var(--cor5);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    border-radius: 5px 0px 5px 0px;
    padding: 20px;
    margin: 5px;
}

#nome, #sobrenome, #email, #bairro, #profissao, #cidade, #estado{
    width: 85px; 
}

#empresa, #cargo{
    width: 150px;
    font-family: var(--font-destaque);
}
#n_casa{
    width: 30px;
}
select{
    color: black;
}
#estilo{
    border: 1px solid black;
    width: 85px; 
}

.estilo{
    padding-top: 2px;
}

#contato{
    width: 30px;
    font-family: var(--font-destaque);
}

#ddd{
    width: 30px;
    color: black;
    font-family: var(--font-destaque);
}
.estado, .escala{
    padding-top: 2px;
}

button{
    margin: 5px;
    padding: 5px;
    width: 75px;
    border: 2px solid var(--cor5);
    border-radius: 5px;
    font-family: var(--font-padrao);
    font-weight: bold;  
}

button:hover{
    background-color: var(--cor2);
    color: var(--cor1);
    font-weight: bold;  
}

.footer {
    width: auto;
    height: 60px;
    background-color: var(--cor3);
    border-radius: 10px;
    grid-area: "footer";
    grid-column: footer;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
}
