<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/form.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/fornecedor.css">
    <link rel="stylesheet" href="../css/fale_conosco.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/fale_conosco.js"></script>
   
    <title>Fornecedores</title>
</head>
<body>
    <header>
        <div class="logo">
           <a href="../index.html"><img src="../icon/logo.png" alt="Logo"></a>
        </div>
        <div>
          <p class="title"><b>Fale Conosco</b></p>
        </div>
        <ul class="menu">
            <li>
                <a class="fechar" href="#">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </header>

    <main>
        <section class="container-fornecedores">
            <div class="sidenav">
              <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="../view/dashboard.html">Dashboard</a></li>
                  <li><a href="../view/produto.html">Produtos</a></li>
                  <li><a href="../view/fornecedor.html">Fornecedores</a></li>
                  <li><a href="../view/fale_conosco.html" class="menu-ativo">Fale Conosco</a></li>
                  <li><a href="../view/quemsomos.html">Quem Somos</a></li>
              </ul>
            </div>

            <article>
                <div class="textfield">
                
                <div class="form">
                    <p>Fornecedores</p>
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" id="nome">
                    
                    <label for="sobrenome">Sobrenome: </label>
                    <input type="text" name="sobrenome" id="sobrenome">
                    
                <div> 
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email_nome">
                    </div>
                </div>

                <div class="contato">
                    <p>Contato</p>
                    
                        <label for="contato">Tipo: </label>
                        <select id="estilo">
                            <option value="">Selecione</option>
                            <option value="cm">Comercial</option>
                            <option value="ps">Pessoal</option>
                        </select> 
            
                    <div>
                        <label for="contato">Celular: </label>
                        <input type="text" name="ddd" id="ddd" placeholder="DDD">
                        <span class="input-group-text" id="inputGroupPrepend8">-</span>
                        <input type="text" name="contato" id="contato">

                    <div>
                        <label for="contato">Telefone: </label>
                        <input type="text" name="ddd" id="ddd2" placeholder="DDD">
                        <span class="input-group-text" id="inputGroupPrepend7">-</span>
                        <input type="text" name="contato" id="contato3">
                        </div>
                    </div>
                </div>

                <div class="form">
                    <div class="comentario">
                        <p>Comentários</p>
                        <label id="labe" for="mensagem">Mensagem</label>
                        <textarea name="textareamsg" id="textareamsg"></textarea>
                    </div>
                </div>

                <div>
                    <button type="submit"  value="adicionar" onClick="adicionar()">Enviar </button>
                    <button type="submit">Limpar</button>
                </div>
            </article>

            <div class="textfield">
                <p>Fornecedores Cadastrados</p>
                <table class="textfield" id="fornecedores" >
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                    </tr>
                </table>
            </div>

            <div class="textfield">
                <p>Contato Cadastrados</p>
                <table class="textfield" id="ctt" >
                    <tr>
                        <th>Tipo</th>
                        <th>Celular</th>
                        <th>Telefone</th>
                    </tr>
                </table>
            </div> 

            <div class="textfield">
                <p>Mensagem</p>
                <table class="textfield" id="msgText" >
                    <tr>
                        <th>Mensagem</th>
                    </tr>
                </table>
            </div> 

            <div class="footer">
                <p class="footer1">
                    Desenvolvido por Eduardo Henrique e Ivan Cardoso | &copy; 2022
                    <br>
                    <a href="mailto:dev@gmail.com">dev@gmail.com</a>
                </p>
            </div>

        </section>
    </main>
        
    </main>
</body>