<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/form.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/fornecedor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/fornecedores.js"></script>

    <title>Fornecedores</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html"><img src="../icon/logo.png" alt="Logo"></a>
        </div>
        <div>
            <p class="title"><b>Fornecedores</b></p>
        </div>
        <ul class="menu">
            <li>
                <a class="fechar" href="#">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </header>

    <main>
        <section class="container-fornecedores">
            <div class="sidenav">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../view/dashboard.html">Dashboard</a></li>
                    <li><a href="../view/produto.html">Produtos</a></li>
                    <li><a href="../view/fornecedor.html" class="menu-ativo">Fornecedores</a></li>
                    <li><a href="../view/fale_conosco.html">Fale Conosco</a></li>
                    <li><a href="../view/quemsomos.html">Quem Somos</a></li>
                    <li><a href="../view/admin.html">Administração</a></li>
                </ul>
            </div>

            <article class="cadastro-fornecedores">
                <div class="textfield">

                    <div class="form">
                        <p>Fornecedores</p>
                        <label for="nome">Nome: </label>
                        <input type="text" name="nome" id="nome">

                        <label for="sobrenome">Sobrenome: </label>
                        <input type="text" name="sobrenome" id="sobrenome">

                        <div>
                            <label for="email">Email: </label>
                            <input type="text" name="email" id="email">
                        </div>
                    </div>

                    <div class="endereco">
                        <p>Endereço</p>

                        <label for="bairro">Bairro: </label>
                        <input type="text" name="bairro" id="bairro">

                        <label for="profissao">Rua: </label>
                        <input type="text" name="profissao" id="profissao">

                        <label for="n_casa">N°: </label>
                        <input type="text" name="n_casa" id="n_casa">

                        <div class="estado">
                            <label for="cidade">Cidade: </label>
                            <input type="text" name="cidade" id="cidade">
                            <label for="estilo">Estado: </label>
                            <select id="estilo">
                                <option value="">Selecione</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>

                    <div class="contato">
                        <p>Contato</p>

                        <label for="contato">Tipo: </label>
                        <select id="estilo2">
                            <option value="">Selecione</option>
                            <option value="cm">Comercial</option>
                            <option value="ps">Pessoal</option>
                        </select>

                        <div>
                            <label for="contato">Celular: </label>
                            <input type="text" name="ddd" id="ddd" placeholder="DDD">
                            <span class="input-group-text" id="inputGroupPrepend2">-</span>
                            <input type="text" name="contato" id="contato">

                            <div>
                                <label for="contato">Telefone: </label>
                                <input type="text" name="ddd" id="ddd2" placeholder="DDD">
                                <span class="input-group-text" id="inputGroupPrepend3">-</span>
                                <input type="text" name="contato" id="contato5">
                            </div>
                        </div>
                    </div>

                    <div class="empresa">
                        <p>Empresa</p>
                        <label for="empresa">Nome da empresa: </label>
                        <input type="text" name="empresa" id="empresa">

                        <div class="escala">
                            <label for="estilo7">Escala: </label>
                            <select id="estilo7" class="estilo7">
                                <option value="">Selecione</option>
                                <option value="5x1 ">5x1</option>
                                <option value="5x2">5x2</option>
                                <option value="4x2">4x2</option>
                                <option value="6x1">6x1</option>
                                <option value="12x36">12x36</option>
                                <option value="18x36">18x36</option>
                                <option value="24x48">24x48</option>
                            </select>
                        </div>

                        <div>
                            <label for="cargo">Cargo: </label>
                            <input type="text" name="cargo" id="cargo">

                        </div>
                    </div>

                    <div>
                        <button type="submit" value="adicionar" onClick="adicionar()">Enviar</button>
                        <button type="submit">Limpar</button>
                    </div>
            </article>

            <div class="textfield">
                <p>Fornecedores Cadastrados</p>
                <table class="textfield" id="fornecedores">
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                    </tr>
                </table>
            </div>

            <div class="textfield">
                <p>Cadastros de Endereço</p>
                <table class="textfield" id="enderecoo">
                    <tr>
                        <th>Estado</th>
                        <th>Cidade</th>
                        <th>Bairro</th>
                        <th>Rua</th>
                        <th>N°</th>
                    </tr>
                </table>
            </div>

            <div class="textfield">
                <p>Contato Cadastrados</p>
                <table class="textfield" id="ctt">
                    <tr>
                        <th>Tipo</th>
                        <th>Celular</th>
                        <th>Telefone</th>
                    </tr>
                </table>
            </div>

            <div class="textfield">
                <p>Empresa Cadastrada</p>
                <table class="textfield" id="emps">
                    <tr>
                        <th>Nome</th>
                        <th>Escala</th>
                        <th>Cargo</th>
                    </tr>
                </table>
            </div>

            <div class="footer">
                <p class="footer1">
                    Desenvolvido por Eduardo Henrique e Ivan Cardoso | &copy; 2022
                    <br>
                    <a href="mailto:dev@gmail.com">dev@gmail.com</a>
                </p>
            </div>

        </section>
    </main>

</body>

</html>