<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/form.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/fornecedor.css">
   
    <title>Fornecedores</title>
</head>
<body>
    <header>
        <div class="logo">
           <a href="../index.html"><img src="../icon/logo.png" alt="Logo"></a>
        </div>
        <div>
          <p class="title">Cadastro de Fornecedores</p>
        </div>
        <ul class="menu">
            <li>
                <a class="fechar" href="#">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </header>

    <main>
    <article>
        <div class="textfield">
        
        <div class="form">
            <p>Fornecedores</p>
            <label for="nome">Nome: </label>
            <input type="nome" name="nome" id="nome">
            
            <label for="sobrenome">Sobrenome: </label>
            <input type="sobrenome" name="sobrenome" id="sobrenome">
            
        <div> 
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="email" name="email" id="email">
            </div>
        </div>

            <div class="endereco">
                <p>Endereço</p>
                    
                    <label for="bairro">Bairro: </label>
                    <input type="bairro" name="bairro" id="bairro">
                    
                    <label for="profissao">Rua: </label>
                    <input type="profissao" name="profissao" id="profissao">
                    
                    <label for="n_casa">N°: </label>
                    <input type="n_casa" name="n_casa" id="n_casa">
            
            <div class="estado">
                    <label for="cidade">Cidade: </label>
                    <input type="cidade" name="cidade" id="cidade">

                    <label for="estado">Estado: </label>
                    <select id="estilo">
                        <option value="">Selecione</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                  </select>     
            </div>
        </div>

        <div class="contato">
            <p>Contato</p>
            
                <label for="contato">Tipo: </label>
                <select id="estilo">
                    <option value="">Selecione</option>
                    <option value="cm">Comercial</option>
                    <option value="ps">Pessoal</option>
                </select> 
    
            <div>
                <label for="contato">Celular: </label>
                <input type="ddd" name="ddd" id="ddd" placeholder="DDD">
                <input type="contato" name="contato" id="contato">
                <span class="input-group-text" id="inputGroupPrepend">-</span>
                <input type="contato" name="contato" id="contato">
        

            <div>
                <label for="contato">Telefone: </label>
                <input type="ddd" name="ddd" id="ddd" placeholder="DDD">
                <input type="contato" name="contato" id="contato">
                <span class="input-group-text" id="inputGroupPrepend">-</span>
                <input type="contato" name="contato" id="contato">  
                </div>
            </div>
        </div>

        <div class="empresa">
            <p>Empresa</p>
            <label for="empresa">Nome da empresa: </label>
            <input type="empresa" name="empresa" id="empresa">

        <div class="escala">
            <label for="escala">Escala: </label>
                <select id="estilo" class="estilo">
                    <option value="">Selecione</option>
                    <option value="modelo ">5x1</option>
                    <option value="modelo">5x2</option>
                    <option value="modelo">4x2</option>
                    <option value="modelo">6x1</option>
                    <option value="modelo">12x36</option>
                    <option value="modelo">18x36</option>
                    <option value="modelo">24x48</option>
                </select>  
        </div>

        <div>
            <label for="cargo">Cargo: </label>
            <input type="cargo" name="cargo" id="cargo">

        </div>
        </div>
    
        <div>
            <button type="submit">Enviar</button>
            <button type="submit">Limpar</button>
        </div>
    </article>
</main>

        <div class="footer">
            <p>
                Desenvolvido por Eduardo Henrique e Ivan Cardoso | &copy; 2022
            <br>
        <a href="mailto:dev@gmail.com">dev@gmail.com</a>
        </p>
        </div>
</body>
</html>
